.env
env
.venv
pipfile.lock
jobr_api_backend/db.sqlite3
.idea
venv
jobr_api_backend/accounts/__pycache__/
jobr_api_backend/accounts/migrations/__pycache__/
jobr_api_backend/jobr_api_backend/__pycache__/